@model SkyEstates.ViewModels.HomeViewModel


    <h2>@Model.Title</h2>

    @foreach(var house in Model.Houses)
    {

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@house.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@house.Price.ToString("c")</h3>
                <h3>
                    @house.Name
                </h3>
                <p>@house.ShortDescription</p>
            </div>
        </div>
    </div>



    }
